PORT=BACKEND_PORT
NODE_ENV=dev
DATABASE_URL=postgresql://USERNAME:PASSWORD@IP:PORT/DB_NAME

JWT_ACCESS_SECRET=SECRET_KEY_FOR_ACCESS_TOKEN
JWT_REFRESH_SECRET=SECRET_KEY_FOR_REFRESH_TOKEN
JWT_EXPIRES_IN=TIME_IN_HOURS
REFRESH_EXPIRES_DAYS=TIME_IN_DAYS

# EMAIL FOR NODEMAILER
EMAIL=EMAIL_ADDRESS
EMAIL_PASSWORD=APP_PASSWORD
