PORT=RANDOM_PORT
NODE_ENV=type_env

DATABASE_URL=postgres://user:pass@ip:portifany/dbname

JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_EXPIRES_IN=12hr
REFRESH_EXPIRES_DAYS=365

# EMAIL FOR NODEMAILER
EMAIL=your.email@gmail.com
EMAIL_PASSWORD=esal acup nhin amde

BASE_URL=https://zproster.thecanatech.com